<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/static/logo.svg" />
    <link rel="apple-touch-icon" href="/static/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="nhiwChgufcNTntWjJNbdzFVGYl38uwJEKR_-1LiwD8o" />
    <title>⚡ LearnEnglish | Platforma Nauki</title>
    <script type="module" crossorigin src="/static/assets/index-D2qHjGdy.js"></script>
    <link rel="stylesheet" crossorigin href="/static/assets/index-QalDILOk.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
